body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root {
  min-height: 700px;
  background-image: -webkit-linear-gradient(#fff, rgb(156, 252, 255) 20%, rgb(130, 130, 255) 100%);
}
nav {
  height: 100px;
}
nav .brand-logo {
  position: relative;
  display: block;
  text-align: center;
  font-size: 4rem;
  padding-top: 15px;
}
.input-field label {
  color: black;
}
.input-field input[type=text]:focus + label {
  color: black;
} 
.input-field input[type=text]:focus {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 #000;
}
input[type=text]:not(.browser-default) {
  border-bottom: 1px solid black;
  color: black;
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 1px 0 0 black;
  box-shadow: 0 1px 0 0 black;
}
input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: black;
}
.container-form {
  max-width: 1200px;
  height: 100vh;
  padding: 3rem 10px;
  margin: 0 auto;
}
.message {
  text-align: center;
  font-size: 2rem;
}
.searcher i {
  width: 100%;
}
.error {
  padding: 1rem!important;
  color:black;
  margin-top: 3rem;
  text-align: center;
  text-emphasis: left;
}
.card-panel {
  position: relative;
  background-color: rgba(256,256,256, 0.5) !important;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.card-panel h2 {
  font-size: 1.6rem;
  text-align: center;
}
.card-panel p {
  text-align: center;
  font-size: 1.4rem;
}
.temperature {
  margin-left: 20px;
}
.temperature p {
  font-size: 4rem!important
}
.temperature span {
  font-size: 2rem!important;
  vertical-align: super;
}
.btn-block {
  display: block!important;
}
.error {
  padding: 1rem!important;
  text-align: center!important;
  color: #FFF!important;
}
.red.darken-4.error {
  margin-top: 0px !important;
}
.blue.darken-4.error {
  margin-top: 100px !important;
}
.data-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data-weather li {
  width: 200px;
  text-align: center;
}
.data-weather__item {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("./assets/icons/humidity.svg") center/cover no-repeat;
}
.pressure {
  background-image: url("./assets/icons/pressure.svg");
}
.wind {
  background-image: url("./assets/icons/wind.svg");
}
.icon-temp {
  position: absolute;
  top: 90px;
  left: 15px;
  display: inline-block;
  width: 130px;
  height: 130px;
  background: url("./assets/icons/sun.svg") center/cover no-repeat;
  filter: invert(60%) sepia(72%) saturate(3003%) hue-rotate(359deg) brightness(101%) contrast(103%);
  opacity: 0.5;
}
.icon-temp--cloud {
  background-image: url("./assets/icons/cloud.svg");
  filter: invert(91%) sepia(83%) saturate(388%) hue-rotate(13deg) brightness(108%) contrast(102%);
  opacity: .8;
}
.icon-temp--cloud-snow {
  background-image: url("./assets/icons/cloud-snow.svg");
  filter: invert(84%) sepia(42%) saturate(599%) hue-rotate(152deg) brightness(104%) contrast(102%);
  opacity: 1;
}
.weather-city {
  font-size: 3rem;
}
@media screen and (max-width:1000px) {
  #root {
    min-height: 1000px;
  }
  .icon-temp.icon-temp {
    position: static !important;
    width: 90px;
    height: 90px;
  }
  .temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .temperature p {
    margin: 1.5rem 0!important
  }
}